@{ 
    Layout = "Forum";
}
@model UnturnedWebForum.Models.BuyModel

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UnturnedDonate</title>
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/PluginPage.css" />
    <link rel="stylesheet" href="~/css/ProfileServerAdd.css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic" rel="stylesheet" />
</head>
<div class="profile">
                <form class="inp" method="post" asp-action="Buy" asp-controller="Plugin">
               
                <input asp-for="PluginName", value="@ViewBag.PluginName" type="hidden" />
                <div class="input-field">
                    <div class="input-text">
                        IP
                    </div>
                    <input asp-for="IP" class="input-f" placeholder="IP" value="" type="text">
                </div>
                <div class="input-field">
                    <div class="input-text">
                        Port
                    </div>
                    <input asp-for="Port" class="input-f" placeholder="Port" value="" type="text">
                </div>
                <input type="submit" class="add-button" value="Купить">
                </form>
                </div>
            