@{ Layout = "Forum"; }
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UnturnedDonate</title>
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/profile.css" />
    <link rel="stylesheet" href="~/css/ProfilePlugin.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic" rel="stylesheet" />
</head>
<div class="profile">
    @foreach(var plugin in ViewBag.Plugins)
    {
         <div href="#" class="profileplugin">@plugin.PluginName | @plugin.ServerIp | @plugin.ServerPort</div>
    }
    </div>
            <div class="profile-buttons">
                <a class="profilepage-button" asp-controller="Profile" asp-action="UserProfile">мой профиль</a>
                <a class="profilepage-button" asp-controller="Profile" asp-action="UserPlugins">плагины</a>
                <a class="profilepage-button" asp-controller="Profile" asp-action="Loader">лоадер</a>
                <a class="profilepage-button" asp-controller="Account" asp-action="Logout">выйти</a>
            </div>