@{ 
    Layout = "Forum";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UnturnedDonate</title>
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/SomeText.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic" rel="stylesheet" />
</head>
<div class = "info-text">
    1) Зарегиструрйтесь / Зайдите в свою учетную запись <br />
    2) Приобретите плагин <br/>
    3) Укажите айпи и порт вашего сервера <br />
    4) Скачайте лоадер на странице профиля <br />
    5) В настройках лоадера укажите ваш ключ со страницы профиля <br />
    6) В графе Plugins, в настройках лоадера укажите названия плагинов, которые вам необходимы <br />
    7) Запустите сервер
</div>