
@{
    Layout = "Forum";
    /* td - ячейка tr - строка */
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wendi Plugins - плагины для серверов Unturned</title>
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/privacy.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic" rel="stylesheet" />
</head>

<div class="privacy">
    <h1>ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</h1><br />
<h2>1. Основные понятия.</h2><br />
<p>
<br />1.1. Интернет-магазин — интернет-сайт, расположенный по адресу: wendiplugins.ru на котором представлены Товары, предлагаемые Продавцом для приобретения и все связанные с ним поддомены;
<br />1.2. Посетитель Интернет-магазина — лицо, пришедшее на сайт Интернет-магазина без цели размещения Заказа;
<br />1.3. Пользователь — физическое либо юридическое лицо, посетитель Интернет-магазина, принимающий условия настоящего Соглашения и желающий разместить Заказы в Интернет-магазине;
<br />1.4. Покупатель — Пользователь, оформивший Заказ в Интернет-магазине;
<br />1.5. Продавец — (ИНН: 381257723980);
<br />1.6. Товар — ПО, представленное к продаже в Интернет-магазине;
<br />1.7. Заказ — должным образом, оформленный запрос Покупателя на приобретение товаров, выбранных в Интернет-магазине.
</p>

<br /><h2>2. Общие положения.</h2>
<p>
<br />2.1. Продавец осуществляет продажу Товаров через Интернет-магазин.
<br />2.2. Заказывая Товары через Интернет-магазин, Пользователь соглашается с условиями, изложенными ниже. В случае несогласия с условиями, изложенными в настоящем Пользовательском соглашении (далее — Соглашение или Публичная оферта) Пользователь обязан немедленно прекратить использование сервиса и покинуть Интернет-магазин.
<br />2.3. Настоящее Пользовательское соглашение, а также информация о Товаре, являются публичной офертой в соответствии со статьей 435 и пунктом 2 статьи 437 Гражданского кодекса Российской Федерации.
<br />2.4. Соглашение может быть изменено Продавцом в одностороннем порядке без уведомления Пользователя/Покупателя. Новая редакция Соглашения вступает в силу по истечении 10 (Десяти) календарных дней с момента ее опубликования.
<br />2.5. Публичная оферта признается акцептованной Посетителем Интернет-магазина / Покупателем с момента регистрации Посетителя в Интернет-магазине, оформления Покупателем Заказа без авторизации.
<br />2.6. Все права и обязательства по заключенному с Пользователем Договору возникают непосредственно у Продавца.
</p>
<br /><h2>3. Предмет соглашения.</h2>
<p>
<br />3.1. Предметом настоящего Соглашения является предоставление возможности Пользователям приобретать Товары, представленные в Интернет-магазине.
<br />3.2. Данное Соглашение распространяется на все виды Товаров и услуг, представленных в Интернет-магазине, пока такие предложения с описанием присутствуют в каталоге Интернет-магазина.

</p>
<br /><h2>4. Регистрация в Интернет-магазине.</h2>
<p>
<br />4.1. Регистрация в Интернет-магазине осуществляется с помощью нажатия на кнопку «Регистрация».
<br />4.2. Регистрация в Интернет-магазине является обязательной для оформления Заказа.
<br />4.3. Продавец не несет ответственности за точность и правильность информации, предоставляемой Пользователем при регистрации.
<br />4.4. Пользователь обязуется не сообщать третьим лицам логин и пароль, указанные при регистрации.
<br />4.5. Общение Пользователя/Покупателя с представителями Продавца должно строиться на принципах общепринятой морали и коммуникационного этикета. Строго запрещено использование нецензурных слов, брани, оскорбительных выражений, а также угроз и шантажа, вне зависимости от того, в каком виде и кому они были адресованы.
</p>
<br /><h2>5. Товар и порядок совершения покупки.</h2>
<p>
<br />5.1. Сопровождающие Товар фотографии являются простыми иллюстрациями к нему и могут отличаться от фактического внешнего вида Товара. Сопровождающие Товар описания/характеристики не претендуют на исчерпывающую информативность и могут содержать опечатки. Для уточнения информации по Товару Покупатель должен обратиться к Продавцу любым способом связи, указанном в Интернет-магазине.
<br />5.2. Покупатель несет полную ответственность за предоставление неверных сведений, повлекшее за собой невозможность надлежащего исполнения Продавцом своих обязательств перед Покупателем.
</p>
<br /><h2>6. Возврат товара.</h2>
<p>
<br />6.1 Товары приобретаемые на данном сайте являются нематериальными, а значит их нельзя вернуть физически, поэтому приобретаемый цифровой товар не подлежит возврату.
<br />6.2 Причиной для возврата средств, затраченных при приобретении товара может служить неустранимая проблема в работе этого товара.
<br />6.3 Если покупатель цифрового товара заявляет о его неработоспособности, то служба поддержки может потребовать убедиться в этом, запросив удаленный доступ к компьютеру, на котором произведена установка приобретенного цифрового товара


</p>
<br /><h2>7. Оплата товара.</h2>

<p>
<br />7.1. Цена товара, реализуемого в Интернет-магазине, указывается в рублях Российской Федерации без НДС.
<br />7.2. Цена Товара указывается в Интернет-магазине. В случае неверного указания цены заказанного Покупателем Товара, Продавец информирует об этом Покупателя для подтверждения Заказа по исправленной цене либо аннулирования Заказа. При невозможности связаться с Покупателем данный Заказ считается аннулированным. Если Заказ был оплачен, Продавец возвращает Покупателю оплаченную за Заказ сумму тем же способом, которым она была уплачена.
<br />7.3. Цена Товара в Интернет-магазине может быть изменена Продавцом в одностороннем порядке. Цена Заказа, совершенного до изменения цены Товара изменению не подлежит.
<br />7.4. Физическими лицами оплата производится за безналичный расчет.
<br />7.5. Юридическими лицами Оплата производится за безналичный расчет (на основании заключенного договора и выставленного счета).
<br />7.6. Особенности оплаты Товара с помощью банковских карт.
<br />7.6.1. В соответствии с положением ЦБ РФ «Об эмиссии банковских карт и об операциях, совершаемых с использованием платежных карт» от 24.12.2004 № 266-П операции по банковским картам совершаются держателем карты либо уполномоченным им лицом.
<br />7.6.2. Авторизация операций по банковским картам осуществляется банком. Если у банка есть основания полагать, что операция носит мошеннический характер, то банк вправе отказать в осуществлении данной операции.
<br />7.6.3. Во избежание случаев различного рода неправомерного использования банковских карт при оплате все Заказы, оплачиваемые банковской картой, проверяются Продавцом. В целях проверки личности владельца и его правомочности на использование карты Продавец вправе потребовать от Покупателя, оформившего такой заказ, предъявления документа, удостоверяющего личность.
<br />7.7. Продавец вправе предоставлять скидки на Товары и устанавливать программу бонусов. Виды скидок, бонусов, порядок и условия начисления определяются Продавцом самостоятельно и указываются в Интернет-магазине.

</p>
<br /><h2>8. Конфиденциальность и защита информации.</h2>

<p>
<br />8.1. Персональные данные Пользователя/Покупателя обрабатываются на основании ФЗ №152 «О персональных данных» и в соответствии с политикой Продавца в отношении обработки персональных данных.
<br />8.2. При регистрации Пользователь предоставляет персональные данные.
<br />8.3. Предоставляя свои персональные данные Продавцу, Посетитель /Пользователь/Покупатель соглашается на обработку персональных данных, получение персональных данных Продавцом от Посетителя /Пользователя/Покупателя и других лиц, передачу персональных данных третьим лицам для достижения целей обработки персональных данных и подтверждает, что, принимая решение действует свободно, своей волей и в своем интересе.
<br />8.4. Согласие на обработку персональных данных дается для целей информирования о новых товарах, специальных акциях и предложениях, выполнения обязательств в рамках настоящей Публичной оферты, организации доставки товара Покупателям, контроля удовлетворенности Посетителя /Пользователя/Покупателя, а также контроля качества услуг, оказываемых Продавцом.
<br />8.5. Под обработкой персональных данных понимается любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение) извлечение, использование, передачу (в том числе передачу третьим лицам, не исключая трансграничную передачу, если необходимость в ней возникла в ходе исполнения обязательств), обезличивание, блокирование, удаление, уничтожение персональных данных.
<br />8.6. Продавец имеет право отправлять информационные, в том числе рекламные сообщения, на электронную почту и мобильный телефон Пользователя/Покупателя с его согласия, выраженного посредством совершения им действий, однозначно идентифицирующих этого абонента и позволяющих достоверно установить его волеизъявление на получение сообщения. Пользователь/Покупатель вправе отказаться от получения рекламной и другой информации без объяснения причин отказа путем информирования Продавца о своем отказе по телефону либо посредством направления соответствующего заявления на электронный адрес Продавца. Сервисные сообщения, информирующие Пользователя/Покупателя о заказе и этапах его обработки, отправляются автоматически и не могут быть отклонены Пользователем/Покупателем.
<br />8.7. Согласие может быть в любой момент отозвано путём отзыва акцепта настоящей Публичной оферты посредством письменного обращения к Продавцу. Обработка персональных данных может быть продолжена при наличии оснований, указанных в пунктах 2—11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11 ФЗ №152 «О персональных данных».
<br />8.8. Продавец вправе использовать технологию «cookies». «Cookies» не содержат конфиденциальную информацию. Посетитель / Пользователь / Покупатель настоящим дает согласие на сбор, анализ и использование cookies, в том числе третьими лицами для целей формирования статистики и оптимизации рекламных сообщений.
<br />8.9. Продавец получает информацию об ip-адресе Посетителя Интернет-магазина. Данная информация не используется для установления личности Посетителя.
</p>
<br /><h2>9. Срок действия Публичной оферты.</h2>
<p>
<br />9.1. Настоящая Публичная оферта вступает в силу с момента ее акцепта Посетителем/Покупателем, и действует до момента отзыва акцепта Публичной оферты.
</p>
<br /><h2>10. Дополнительные условия.</h2>
<p>
<br />10.1. Продавец вправе переуступать либо каким-либо иным способом передавать свои права и обязанности, вытекающие из его отношений с Покупателем, третьим лицам.
<br />10.2. Интернет-магазин и предоставляемые сервисы могут быть временно частично или полностью недоступны по причине проведения профилактических или иных работ, или по любым другим причинам технического характера. Техническая служба Продавца имеет право периодически проводить необходимые профилактические или иные работы с предварительным уведомлением Покупателей или без такового.
<br />10.3. В случае возникновения вопросов и претензий со стороны Пользователя/Покупателя он должен обратиться к Продавцу через email: vitya.averin674335@gmail.com  или иным доступным способом. Все возникающее споры стороны будут стараться решить путем переговоров, при недостижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством РФ.
</div>
